{% if title is not defined %}
  {% set title="Gallery" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title> {{ title }} </title>

  <link rel="Shortcut Icon" type="image/x-icon" href="image/favicon.ico" />

  {% block headcss %}
  <!-- Bootstrap -->
  <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom css -->
  <link href="/css/main.css" rel="stylesheet">
  {% endblock %}

</head>
<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li class="active" role="presentation">
            <a href="#">Home</a>
          </li>
          <li role="presentation">
            <a href="#">About</a>
          </li>
          <li role="presentation">
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>

      <h3> {{ title }} </h3>
    </div>

    <div id="messages">
      {% for message in app.session.getFlashBag.get('sucess') %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button class="close" aria-label="Close" data-dismiss="alert" type="button">
            <span aria-hidden="true">×</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
      {% for message in app.session.getFlashBag.get('warning') %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button class="close" aria-label="Close" data-dismiss="alert" type="button">
            <span aria-hidden="true">×</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
      {% for message in app.session.getFlashBag.get('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button class="close" aria-label="Close" data-dismiss="alert" type="button">
            <span aria-hidden="true">×</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <footer class="footer">
      <p>@ silex 2015</p>
    </footer>
  </div>

  {% block bodyjavascript %}
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>